/* 기준 해상도 이하(719px 이하) */
nav {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width:  100%;
    height: 78px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.navGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 90%;
    max-width: 720px;
    height: 22px;
}

.menuGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    height: 20px;
    justify-content: flex-end;
    list-style:none;
}

.guide {
    width: 90%;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    grid-gap: 20px;
  }

.card-item {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  }

.card-item lottie-player {
    background-color: #f1f2f5;
}

.card-text {
padding: 20px 20px 24px;
}

.card-text .title {
font-size: 16px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-bottom: 12px;
color: #323438;
}

.card {
    position: relative;
    width: 250px;
    height: 100%;
    border-radius: 6px;
    border: 1px solid #F3F3F4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.add {
    padding: 4px 8px;
    background: #E5E6E9;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

/* 기준 해상도 이상(720px 이상) */
@media screen and (min-width: 720px) {
    nav {
        height: 78px;
    }

    .navGroup {
        justify-content: space-between;
        height: auto;
    }

    .menuGroup {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 48px;
        height: 20px;
        justify-content: flex-end;
        list-style:none;
        }

    .guide {
        width: 720px;
    }

    .contents {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
        justify-content: center;
        width: 720px;
      }
      .card-item {
        width: calc(50% - 10px);
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
      }
      .card-item lottie-player {
        background-color: #f1f2f5;
    }
    
    .card-text {
    padding: 20px 20px 24px;
    }
    
    .card-text .title {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    color: #323438;
    }
    
    .card {
        position: relative;
        width: 250px;
        height: 100%;
        border-radius: 6px;
        border: 1px solid #F3F3F4;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        background-color: white;
    }
    
    .add {
        padding: 4px 8px;
        background: #E5E6E9;
        border-radius: 2px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
    }
    
}


/* 글꼴 */
h1 {
    margin: 0;
    color: #323438;
    }

h2 {
margin: 0;
color: #323438;
}

h3 {
    margin: 0;
    color: #323438;
    }

p {
    color: #323438;
    line-height: 1.7rem;
}

body {
    font-family: 'SUIT Variable', -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0px;
    background-color: #F9F9FB; 
}

a {
    text-decoration-line: none;
    color: #323438;
  /*   text-decoration-line: underline; */
  /*   text-decoration-line: overline; */
  /*   text-decoration-line: line-through; */
  /*   text-decoration-line: underline line-through overline; */
  }


/* 컨테이너 */
.container {
display: flex;
flex-wrap: wrap;
max-width: 720px;
width: 100%;
margin: auto;
}

.contentsbox {
    padding-top: 120px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.card-item lottie-player {
    background-color: #f1f2f5;
}

.card-text {
padding: 20px 20px 24px;
}

.card-text .title {
font-size: 16px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-bottom: 12px;
color: #323438;
}

.card {
    position: relative;
    width: 250px;
    height: 100%;
    border-radius: 6px;
    border: 1px solid #F3F3F4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.add {
    padding: 4px 8px;
    background: #E5E6E9;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

/* 네비게이션 
nav {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width:  100%;
    height: 78px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.navGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 720px;
    height: 22px;
}

.menuGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    height: 20px;
    justify-content: flex-end;
    list-style:none;
}
*/

input {
    display: none;
}

/* 푸터 - 사용안함 */
#footer {
    width: 100%;
    height: 80px;
    background-color: blue;
}



/* 나중에~~~
@media screen and (min-width : 769px) and (max-width : 1059px) {
    #footer {
        width: 100%;
        height: 80px;
        background-color: rgb(56, 228, 94);
    }
}

@media screen and (max-width : 768px) {
    #footer {
        width: 100%;
        height: 80px;
        background-color: rgb(255, 119, 0);
    }
}
*/